<nav>
    <div class="site-title">
        <a href="/">SAFETY AID</a>
        <p>Ride safely</p>
    </div>
    <ul>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create-post">New update</a></li>
    </ul>
</nav>