<nav>
    <div class="site-title">
        <a href="/">SAFETY AID</a>
        <p>Ride safely</p>
    </div>
    <ul>
        <li><a href="">Blogs</a></li>
        <li><a href="">About</a></li>
        <li><a href="">New update</a></li>
    </ul>
</nav>