/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
:root {
    --blue-color: #3498db;
    --white-color: #ffffff;
    --yellow-color: #f39c12;
    --font-family: 'sans-serif';
}
body {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-family: var(--font-family);
} 
h1 {
    color: var(--yellow-color);
}
  