<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detials | </title>
</head>
<body>
    <div class="detials content">
        <h2><%= blog.title</h2>
        <div class="content">
            <p> <%= blog.body</p>
        </div>
    </div>
</body>
</html>